{% extends 'partials/base.html' %}

{% block content %}
    <div class="col-lg-8 px-md-5 py-5">
        <div class="row pt-md-4">
            <h1 class="mb-3">{{ article.title }}</h1>
            <p>{{ article.content }}</p>
            {#            <p>#}
            {#                <img src="/static/images/image_1.jpg" alt="" class="img-fluid">#}
            {#            </p>#}
            {#            <p>#}
            {#                <img src="/static/images/image_2.jpg" alt="" class="img-fluid">#}
            {#            </p>#}
            <div class="tag-widget post-tag-container mb-5 mt-5">
                <div class="tagcloud">
                    <a href="#" class="tag-cloud-link">Life</a>
                    <a href="#" class="tag-cloud-link">Sport</a>
                    <a href="#" class="tag-cloud-link">Tech</a>
                    <a href="#" class="tag-cloud-link">Travel</a>
                </div>
            </div>

            <div class="about-author d-flex p-4 bg-light">
                <div class="bio mr-5">
                    <img src="/static/images/person_1.jpg" alt="Image placeholder" class="img-fluid mb-4">
                </div>
                <div class="desc">
                    <h3>{{ article.author }}</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus itaque, autem necessitatibus
                        voluptate quod mollitia delectus aut, sunt placeat nam vero culpa sapiente consectetur
                        similique, inventore eos fugit cupiditate numquam!</p>
                </div>
            </div>

            <div class="pt-5 mt-5">
                {% with article.reviews_set.count as comments %}
                    {% if comments == 1 %}
                        <h3 class="mb-5 font-weight-bold">{{ comments }} Отзыв</h3>
                    {% elif comments <= 4 %}
                        <h3 class="mb-5 font-weight-bold">{{ comments }} Отзыва</h3>
                    {% else %}
                        <h3 class="mb-5 font-weight-bold">{{ comments }} Отзывов</h3>
                    {% endif %}
                {% endwith %}
                {% for review in article.get_review %}
                    <ul class="comment-list">
                        <li class="comment">
                            <div class="vcard bio">
                                <img src="/static/images/person_1.jpg" alt="Image placeholder">
                            </div>
                            <div class="comment-body">
                                <h3>{{ review.name }}</h3>
                                <div class="meta">{{ review.created_at }}</div>
                                <p>{{ review.text }}</p>
                                <p><a href="#formReview" class="reply"
                                      onclick="addReview('{{ review.name }}', '{{ review.id }}')">Ответить</a></p>
                            </div>
                        </li>
                        {% for rew in review.reviews_set.all %}
                            <ul class="children">
                                <li class="comment">
                                    <div class="vcard bio">
                                        <img src="/static/images/person_1.jpg" alt="Image placeholder">
                                    </div>
                                    <div class="comment-body">
                                        <h3>{{ rew.name }}</h3>
                                        <div class="meta">{{ rew.created_at }}</div>
                                        <p>{{ rew.text }}</p>
                                    </div>
                                </li>
                            </ul>
                        {% endfor %}
                    </ul>
                {% empty %}
                    <p>Нет отзывов</p>
                {% endfor %}
                <!-- END comment-list -->

                <div class="comment-form-wrap pt-5">
                    <h3 class="mb-5">Оставить комментарий</h3>
                    <form action="{% url 'add_review' article.id %}" method="post" class="p-3 p-md-5 bg-light"
                          id="formReview">
                        {% csrf_token %}
                        <input type="hidden" name="parent" id="contactparent" value="">
                        <div class="form-group">
                            <label for="name">Имя *</label>
                            <input type="text" class="form-control" id="name" name="name">
                        </div>
                        <div class="form-group">
                            <label for="email">Email *</label>
                            <input type="email" class="form-control" id="email" name="email">
                        </div>

                        <div class="form-group">
                            <label for="message">Сообщение</label>
                            <textarea name="text" id="message" cols="30" rows="10" class="form-control"
                                      required=""></textarea>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Post Comment" class="btn py-3 px-4 btn-primary">
                        </div>

                    </form>
                </div>
            </div>
        </div><!-- END-->
    </div>
    <script>
        function addReview(name, id) {
            document.getElementById("contactparent").value = id
            document.getElementById("message").innerText = `${name}@ `
        }
    </script>
{% endblock %}